In [1]:
import pandas as pd

In [7]:
# load csv file
e_commerce_data_path_csv = "../data/data.csv"
e_commerce_csv_df = pd.read_csv(
    e_commerce_data_path_csv, encoding="unicode_escape", nrows=1000
)

In [8]:
# show columns
print(e_commerce_csv_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
print(e_commerce_csv_df)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
995    536520     22469                HEART OF WICKER SMALL         1
996    536520     22100             SKULLS SQUARE TISSUE BOX         1
997    536520     22096      PINK PAISLEY SQUARE TISSUE BOX          1
998    536520     22583         PACK OF 6 HANDBAG GIFT BOXES         1
999    536520     21358           TOAST ITS - HAPPY BIRTHDAY         2

         InvoiceDate  UnitPrice  CustomerID         Country
0     12/1/2010 8:26       2.55     17850.0  United Kingdom
1     12/1/2010 8:26       3.39     17850.0  United Kingdom
2     12/1/2010 8:26       2.75     17850.0  United Kingdom
3     12/1/2010 8:26       3.39     17850.0  United Kingdom
4     12/1/2010 8:26       3.39     17850.0  United Kingdom
..               ...        ...         ...             ...
995  12/1/2010 12:43       1.65     14729.0  United Kingdom
996  12/1/2010 12:43       1.25     14729.0  United Kingdom
997  12/1/2010 12:43       1.25     14729.0  United Kingdom
998  12/1/2010 12:43       2.55     14729.0  United Kingdom
999  12/1/2010 12:43       1.25     14729.0  United Kingdom

[1000 rows x 8 columns]

In [11]:
# Working with Datatypes
print(e_commerce_csv_df.dtypes)

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [12]:
# check the datatypes in python
e_commerce_csv_df = e_commerce_csv_df.convert_dtypes()
print(e_commerce_csv_df.dtypes)

InvoiceNo      string[python]
StockCode      string[python]
Description    string[python]
Quantity                Int64
InvoiceDate    string[python]
UnitPrice             Float64
CustomerID              Int64
Country        string[python]
dtype: object

In [13]:
# Cast a pandas object to a specified dtype via dictionary, quantity from int64 to float64, and customerID from int64 to flat64. This
# is just a dummy example.

temp_e_commerce_csv_df = e_commerce_csv_df.astype(
    {'Quantity': 'float64', 'CustomerID': 'float64'})
print(temp_e_commerce_csv_df.dtypes)

InvoiceNo      string[python]
StockCode      string[python]
Description    string[python]
Quantity              float64
InvoiceDate    string[python]
UnitPrice             Float64
CustomerID            float64
Country        string[python]
dtype: object

In [19]:
# reading json and appending dataframes

e_commerce_data_path_json = '../data/data_subset.json'
e_commerce_json_df = pd.read_json(
    e_commerce_data_path_json, encoding='unicode_escape')

print(len(e_commerce_json_df) + len(e_commerce_csv_df))

1004

In [21]:
# append the json and csv to a new dataframe
e_commerce_appended_df = pd.concat(
    [e_commerce_csv_df, e_commerce_json_df], ignore_index=True)
print(e_commerce_appended_df)

     InvoiceNo StockCode                          Description  Quantity  \
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1       536365     71053                  WHITE METAL LANTERN         6
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...        ...       ...                                  ...       ...
999     536520     21358           TOAST ITS - HAPPY BIRTHDAY         2
1000    536370     22492               MINI PAINT SET VINTAGE        36
1001    536372     22632            HAND WARMER RED POLKA DOT         6
1002    536389     22727             ALARM CLOCK BAKELIKE RED         4
1003    562106     22993         SET OF 4 PANTRY JELLY MOULDS         1

          InvoiceDate  UnitPrice  CustomerID         Country
0      12/1/2010 8:26       2.55       17850  United Kingdom
1      12/1/2010 8:26       3.39       17850  United Kingdom
2      12/1/2010 8:26       2.75       17850  United Kingdom
3      12/1/2010 8:26       3.39       17850  United Kingdom
4      12/1/2010 8:26       3.39       17850  United Kingdom
...               ...        ...         ...             ...
999   12/1/2010 12:43       1.25       14729  United Kingdom
1000   12/1/2010 8:45       0.65       12583          France
1001   12/1/2010 9:01       1.85       17850  United Kingdom
1002  12/1/2010 10:03       3.75       12431       Australia
1003   8/2/2011 15:19       1.25       14076  United Kingdom

[1004 rows x 8 columns]

In [22]:
# print out first few rows of the dataframe
print(e_commerce_appended_df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55       17850  United Kingdom
1  12/1/2010 8:26       3.39       17850  United Kingdom
2  12/1/2010 8:26       2.75       17850  United Kingdom
3  12/1/2010 8:26       3.39       17850  United Kingdom
4  12/1/2010 8:26       3.39       17850  United Kingdom

In [23]:
# print out last few rows of the dataframe
print(e_commerce_appended_df.tail())

     InvoiceNo StockCode                   Description  Quantity  \
999     536520     21358    TOAST ITS - HAPPY BIRTHDAY         2
1000    536370     22492        MINI PAINT SET VINTAGE        36
1001    536372     22632     HAND WARMER RED POLKA DOT         6
1002    536389     22727      ALARM CLOCK BAKELIKE RED         4
1003    562106     22993  SET OF 4 PANTRY JELLY MOULDS         1

          InvoiceDate  UnitPrice  CustomerID         Country
999   12/1/2010 12:43       1.25       14729  United Kingdom
1000   12/1/2010 8:45       0.65       12583          France
1001   12/1/2010 9:01       1.85       17850  United Kingdom
1002  12/1/2010 10:03       3.75       12431       Australia
1003   8/2/2011 15:19       1.25       14076  United Kingdom

In [24]:
# Merging of dataframes, create a json_df

my_json = '{"Country" : ["United Kingdom", "France", "Australia", "Netherlands"], "Language":["English" , "French", "English" , "Dutch"]}'
json_df = pd.read_json(my_json)
print(json_df)

          Country Language
0  United Kingdom  English
1          France   French
2       Australia  English
3     Netherlands    Dutch

C:\Users\danid\AppData\Local\Temp\ipykernel_7244\1867008878.py:4: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  json_df = pd.read_json(my_json)

In [26]:
# Merging of json_df and e_commerce_csv_df
e_commerce_csv_df = e_commerce_csv_df.merge(json_df, on="Country")
print(e_commerce_csv_df)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
995    536520     22469                HEART OF WICKER SMALL         1
996    536520     22100             SKULLS SQUARE TISSUE BOX         1
997    536520     22096      PINK PAISLEY SQUARE TISSUE BOX          1
998    536520     22583         PACK OF 6 HANDBAG GIFT BOXES         1
999    536520     21358           TOAST ITS - HAPPY BIRTHDAY         2

         InvoiceDate  UnitPrice  CustomerID         Country Language
0     12/1/2010 8:26       2.55       17850  United Kingdom  English
1     12/1/2010 8:26       3.39       17850  United Kingdom  English
2     12/1/2010 8:26       2.75       17850  United Kingdom  English
3     12/1/2010 8:26       3.39       17850  United Kingdom  English
4     12/1/2010 8:26       3.39       17850  United Kingdom  English
..               ...        ...         ...             ...      ...
995  12/1/2010 12:43       1.65       14729  United Kingdom  English
996  12/1/2010 12:43       1.25       14729  United Kingdom  English
997  12/1/2010 12:43       1.25       14729  United Kingdom  English
998  12/1/2010 12:43       2.55       14729  United Kingdom  English
999  12/1/2010 12:43       1.25       14729  United Kingdom  English

[1000 rows x 9 columns]

In [28]:
# check appended_csv  datatypes
print(e_commerce_appended_df.dtypes)

InvoiceNo       object
StockCode       object
Description     object
Quantity         Int64
InvoiceDate     object
UnitPrice      Float64
CustomerID       Int64
Country         object
dtype: object

In [29]:
# change invoice_date to datetime
e_commerce_appended_df['InvoiceDate'] = pd.to_datetime(
    e_commerce_appended_df['InvoiceDate'])
print(e_commerce_appended_df.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                Int64
InvoiceDate    datetime64[ns]
UnitPrice             Float64
CustomerID              Int64
Country                object
dtype: object

In [30]:
len(e_commerce_appended_df)

1004

In [31]:
print(e_commerce_appended_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [36]:
# drop country and quantity columns
e_commerce_appended_df = e_commerce_appended_df.drop(["UnitPrice"], axis=1)
print(e_commerce_appended_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'CustomerID'], dtype='object')

In [37]:
# back to e_commerce_csv_df
print(e_commerce_csv_df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Language'],
      dtype='object')

In [39]:
# normalize a Pandas Column with Maximum Absolute Scaling using Pandas

cols_to_normalize = ["Quantity", "UnitPrice"]
print(e_commerce_csv_df[cols_to_normalize])

     Quantity  UnitPrice
0           6       2.55
1           6       3.39
2           8       2.75
3           6       3.39
4           6       3.39
..        ...        ...
995         1       1.65
996         1       1.25
997         1       1.25
998         1       2.55
999         2       1.25

[1000 rows x 2 columns]

In [40]:
# define a function to normalize the columns
def abs_max_scale(series):
    return series.abs() / series.abs().max()


for column in cols_to_normalize:
    e_commerce_csv_df[column] = abs_max_scale(e_commerce_csv_df[column])

In [42]:
# show csv_df after normalization
print(e_commerce_csv_df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER      0.01
1    536365     71053                  WHITE METAL LANTERN      0.01
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER  0.013333
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE      0.01
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.      0.01

      InvoiceDate  UnitPrice  CustomerID         Country Language
0  12/1/2010 8:26   0.015455       17850  United Kingdom  English
1  12/1/2010 8:26   0.020545       17850  United Kingdom  English
2  12/1/2010 8:26   0.016667       17850  United Kingdom  English
3  12/1/2010 8:26   0.020545       17850  United Kingdom  English
4  12/1/2010 8:26   0.020545       17850  United Kingdom  English

In [44]:
# do normalization with a lambda function
e_commerce_csv_df['UnitPrice'] = e_commerce_csv_df['UnitPrice'].apply(
    lambda x: x*100)
print(e_commerce_csv_df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER      0.01
1    536365     71053                  WHITE METAL LANTERN      0.01
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER  0.013333
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE      0.01
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.      0.01

      InvoiceDate  UnitPrice  CustomerID         Country Language
0  12/1/2010 8:26   1.545455       17850  United Kingdom  English
1  12/1/2010 8:26   2.054545       17850  United Kingdom  English
2  12/1/2010 8:26   1.666667       17850  United Kingdom  English
3  12/1/2010 8:26   2.054545       17850  United Kingdom  English
4  12/1/2010 8:26   2.054545       17850  United Kingdom  English

In [45]:
# get unique values in a column
print(e_commerce_csv_df["Country"].unique())

['United Kingdom' 'France' 'Australia' 'Netherlands']

In [46]:
# create a unique id column using invoiceNo,stockCode and customerID as type string
e_commerce_csv_df['unique_id'] = e_commerce_csv_df['InvoiceNo'].astype(
    str) + e_commerce_csv_df['StockCode'].astype(str) + e_commerce_csv_df['CustomerID'].astype(str)

In [47]:
print(e_commerce_csv_df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER      0.01
1    536365     71053                  WHITE METAL LANTERN      0.01
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER  0.013333
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE      0.01
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.      0.01

      InvoiceDate  UnitPrice  CustomerID         Country Language  \
0  12/1/2010 8:26   1.545455       17850  United Kingdom  English
1  12/1/2010 8:26   2.054545       17850  United Kingdom  English
2  12/1/2010 8:26   1.666667       17850  United Kingdom  English
3  12/1/2010 8:26   2.054545       17850  United Kingdom  English
4  12/1/2010 8:26   2.054545       17850  United Kingdom  English

           unique_id
0  53636585123A17850
1   5363657105317850
2  53636584406B17850
3  53636584029G17850
4  53636584029E17850

In [49]:
# pivot table from the e_commerce_csv_df DataFrame
e_commerce_pivoted = (e_commerce_csv_df
                      .filter(items=["unique_id", "UnitPrice", "Country"])
                      .pivot_table(
                          index="unique_id",
                          columns="Country",  # Column(s) we want to pivot.
                          # Column with values that we want to have in our new pivoted columns.
                          values="UnitPrice",
                          # Even if there is not aggregation we need to provide aggregation funciton.
                          aggfunc="mean"
                      )
                      .reset_index()
                      )

In [50]:
print(e_commerce_pivoted)

Country          unique_id  Australia  France  Netherlands  United Kingdom
0         5363652173017850        NaN     NaN          NaN        2.575758
1         5363652275217850        NaN     NaN          NaN        4.636364
2         5363657105317850        NaN     NaN          NaN        2.054545
3        53636584029E17850        NaN     NaN          NaN        2.054545
4        53636584029G17850        NaN     NaN          NaN        2.054545
..                     ...        ...     ...          ...             ...
940      C5363912198417548        NaN     NaN          NaN        0.175758
941      C5363912255317548        NaN     NaN          NaN        1.000000
942      C5363912255617548        NaN     NaN          NaN        1.000000
943      C5363912255717548        NaN     NaN          NaN        1.000000
944      C5365062296017897        NaN     NaN          NaN        2.575758

[945 rows x 5 columns]

In [51]:
# store dataframe as parquet file
e_commerce_pivoted.to_parquet("../data/e_commerce_pivoted.parquet.gzip", compression="gzip")

In [52]:
# read parquet file
read_parquet = pd.read_parquet("../data/e_commerce_pivoted.parquet.gzip")
print(read_parquet.head())

Country          unique_id  Australia  France  Netherlands  United Kingdom
0         5363652173017850        NaN     NaN          NaN        2.575758
1         5363652275217850        NaN     NaN          NaN        4.636364
2         5363657105317850        NaN     NaN          NaN        2.054545
3        53636584029E17850        NaN     NaN          NaN        2.054545
4        53636584029G17850        NaN     NaN          NaN        2.054545

In [53]:
# melting dataframes
print(e_commerce_json_df)

   InvoiceNo  StockCode                   Description  Quantity  \
0     536370      22492        MINI PAINT SET VINTAGE        36
1     536372      22632     HAND WARMER RED POLKA DOT         6
2     536389      22727      ALARM CLOCK BAKELIKE RED         4
3     562106      22993  SET OF 4 PANTRY JELLY MOULDS         1

       InvoiceDate  UnitPrice  CustomerID         Country
0   12/1/2010 8:45       0.65       12583          France
1   12/1/2010 9:01       1.85       17850  United Kingdom
2  12/1/2010 10:03       3.75       12431       Australia
3   8/2/2011 15:19       1.25       14076  United Kingdom

In [54]:
melted_df = e_commerce_json_df.melt(id_vars=['InvoiceNo'])
print(melted_df)

    InvoiceNo     variable                         value
0      536370    StockCode                         22492
1      536372    StockCode                         22632
2      536389    StockCode                         22727
3      562106    StockCode                         22993
4      536370  Description        MINI PAINT SET VINTAGE
5      536372  Description     HAND WARMER RED POLKA DOT
6      536389  Description      ALARM CLOCK BAKELIKE RED
7      562106  Description  SET OF 4 PANTRY JELLY MOULDS
8      536370     Quantity                            36
9      536372     Quantity                             6
10     536389     Quantity                             4
11     562106     Quantity                             1
12     536370  InvoiceDate                12/1/2010 8:45
13     536372  InvoiceDate                12/1/2010 9:01
14     536389  InvoiceDate               12/1/2010 10:03
15     562106  InvoiceDate                8/2/2011 15:19
16     536370    UnitPrice                          0.65
17     536372    UnitPrice                          1.85
18     536389    UnitPrice                          3.75
19     562106    UnitPrice                          1.25
20     536370   CustomerID                         12583
21     536372   CustomerID                         17850
22     536389   CustomerID                         12431
23     562106   CustomerID                         14076
24     536370      Country                        France
25     536372      Country                United Kingdom
26     536389      Country                     Australia
27     562106      Country                United Kingdom

In [55]:
# Create a DataFrame
hf = pd.DataFrame({
    'A': {0: 'a', 1: 'b', 2: 'c'},
    'B': {0: 1, 1: 3, 2: 5},
    'C': {0: 2, 1: 4, 2: 6}
})

In [56]:
print(hf)

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [60]:
melted_hf = pd.melt(hf, id_vars=['A'], value_vars=['B', 'C'])
print(melted_hf)

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [61]:
# Flattening (normalizing of ) dataFrames from nested JSONs

json_obj = {
    'InvoiceNo': '536370',
    'Quantity': 36,
    'InvoiceDate': '12/1/2010 8:45',
    'CustomerID': 2,
    'Country': 'France',
    'item': {
        'StockCode': 'John Kasich',
        'Description': 'MINI PAINT SET VINTAGE',
        'UnitPrice': 'UnitPrice'}
}
json_df_raw = pd.DataFrame.from_dict(json_obj)
print(json_df_raw.dtypes)

InvoiceNo      object
Quantity        int64
InvoiceDate    object
CustomerID      int64
Country        object
item           object
dtype: object

In [62]:
json_df_normalized = pd.json_normalize(json_obj)
print(json_df_normalized.dtypes)

InvoiceNo           object
Quantity             int64
InvoiceDate         object
CustomerID           int64
Country             object
item.StockCode      object
item.Description    object
item.UnitPrice      object
dtype: object

In [63]:
print(json_df_raw)

            InvoiceNo  Quantity     InvoiceDate  CustomerID Country  \
StockCode      536370        36  12/1/2010 8:45           2  France
Description    536370        36  12/1/2010 8:45           2  France
UnitPrice      536370        36  12/1/2010 8:45           2  France

                               item
StockCode               John Kasich
Description  MINI PAINT SET VINTAGE
UnitPrice                 UnitPrice

In [64]:
print(json_df_normalized)

  InvoiceNo  Quantity     InvoiceDate  CustomerID Country item.StockCode  \
0    536370        36  12/1/2010 8:45           2  France    John Kasich

         item.Description item.UnitPrice
0  MINI PAINT SET VINTAGE      UnitPrice